<!DOCTYPE html>
<html>
<title>CODE-IN Django Task</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>SAUMIT's BLOG</b></h1>
  <p>Welcome to the blog of <span class="w3-tag">SAUMIT PRADHAN</span></p>
</header>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="cdin.jpg" alt="code in" >
    <div class="w3-container">
      <h3><b>CODE IN TASK</b></h3>
      <h5>This is a task given by openWISP in google CODE IN, <span class="w3-opacity">November 11, 2018</span></h5>
    </div>

    <div class="w3-container">
      <p>Now I have learned how to create apps using Django and Python. I Thank Django girls
      For helping me create this.And W3Schools for providing HTML Templates </p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>  </b> <span class="w3-tag"></span></span></p>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
 
    <div class="w3-container">
      <h3><b>CODE-IN TASK</b></h3>
      <h5>Create Blog using Django and Pyhton, <span class="w3-opacity">November 11, 2018</span></h5>
    </div>

    <div class="w3-container">
      <p>By this Task you can learn to create Blog using Django and python
         Link-https://tutorial.djangogirls.org/en/</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          
        </div>
        <div class="w3-col m4 w3-hide-small">
          
        </div>
      </div>
    </div>
  </div>
<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card w3-margin w3-margin-top">
  
    <div class="w3-container w3-white">
      <h4><b>SAUMIT PRADHAN</b></h4>
      <p>Just me, myself and I, exploring the universe of Coding,Physics and Machine Learning.I Live in India and I am 15 years old.</p>
    </div>
  </div><hr>
  
  <!-- Posts -->
  
<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

<!-- Footer -->


</body>
</html>
